
<html>
  <body>
    <div id = "user-wrapper">
      <div id = "user-problems-completed">
        <h1> <%= @username %> </h1>
        <div class = "filters-wrapper">
          <ul class="filters-list">
            <li class = "difficulty-filter"><a id = "total-filter">total</a></li>
            <li class = "difficulty-filter"><a id = "easy-filter">easy</a></li>
            <li class = "difficulty-filter"><a id = "medium-filter">medium</a></li>
            <li class = "difficulty-filter"><a id = "hard-filter">hard</a></li>
          </ul>
        </div>
        <div id="completion">
          <span id="problems-count"></span>
          <span id="checkmark"> &#10003; </span>
        </div>
        <div class = "filter-wrapper">
        </div>
      </div>
    </div>
    <%= javascript_tag do %>
      function onClickHandlers() {
        $( "#problems-count" ).text(<%= @counts["All"] %>);

        $( "#total-filter" ).click(function( event ) {
          $( "#problems-count" ).text(<%= @counts["All"] %>);
        });

        $( "#easy-filter" ).click(function( event ) {
          $( "#problems-count" ).text(<%= @counts["Easy"] %>);
        });

        $( "#medium-filter" ).click(function( event ) {
          $( "#problems-count" ).text(<%= @counts["Medium"] %>);
        });

        $( "#hard-filter" ).click(function( event ) {
          $( "#problems-count" ).text(<%= @counts["Hard"] %>);
        });
      }

      $( document ).ready(function() {
        onClickHandlers();
      });
    <% end %>
  </body>
</html>
