<link rel = "stylesheet" type = "text/css" href = "login.css">


<div class = "login-container">
<h2>Sign in</h2>

<%= flash[:notice] %>

<%= form_tag '/students/login' do %>
  <div><%= text_field_tag :email, nil, placeholder: 'Email Address', style:"height:25px"%> </div>
  <div><%= password_field_tag :password, nil, placeholder: 'Password', style:"height:25px"%> </div>
  <div> <%= check_box_tag :remember_me, class: "checkbox" %> Remember Me</div>
  <br> </br>
  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>
</div>
