<h1>Edit <%= @problem.title %></h1>


<%= form_for :problem, url: problem_path(@problem), :method => :put do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :difficulty %><br>
    <%= p.text_field :difficulty %>
  </p>

  <p>
    <%= p.label :description %><br>
    <%= p.text_field :description %>
  </p>

  <p>
    <%= submit_tag 'Update Problem' %>
  </p>
<% end %>
