<div class="problem-editor">
<h1>Edit <%= @problem.title %></h1>


<%= form_for :problem, url: problem_path(@problem), :method => :put do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :tag_list, "Tags (seperated by commas)" %> <br/>
    <%= p.text_field :tag_list %>
  </p>

  <p>
    <%= p.label :difficulty %><br>
    <%= p.select :difficulty, ["Hard", "Medium", "Easy"] %>
  </p>

  <p>
    <%= p.label :description %><br>
    <%= p.text_area :description, style: "width: 700px; height: 300px;" %>
  </p>

  <p>
    <%= p.label :solution %><br>
    <%= p.text_area :solution, style: "width: 700px; height: 300px;" %>
  </p>

  <p>
    <%= submit_tag 'Update Problem', class: "btn btn-warning" %>
  </p>
<% end %>
</div>
