<h1>Practice Problems</h1>

<html>
    <body>
        <%= flash[:notice] %>
        <h1>Practice Problems</h1>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Difficulty</th>
            </tr>
            <% @problems.each do |problem| %>
            <tr>
                <td> <%= link_to "#{problem.title}", problem_path(problem) %> </td>
                <td> <%= problem.category %> </td>
                <td> <%= problem.difficulty %> </td>
            </tr>
            <% end %>
        </table>
    </body>
</html>

<br><br>

<%= link_to 'Create a problem', new_problem_path %>

