<html>
    <script>
      $(document).ready(function(){
        $("tr[data-link]").click(function() {
          window.location = this.dataset.link
        });
      });
    </script>
    <body>

    <div class="outer-div">

      <div class="inner-left-div" id = "problem-table">
          <div class="form-inline" align="right">
            <%= search_form_for @search do |f| %>
              <%= f.text_field :title_cont, class: 'form-control input-lg', placeholder: 'Search Problem', id:'search_problems' %>
              <%= f.submit "Search", class: 'btn btn-default btn-xs' %>
            <% end %>
          </div>
        <table class="table table-striped" id='problems-dt'>
          <thead>
            <tr>
                <th class="problem-header half-width">Title</th>
                <th class="problem-header">Difficulty</th>
                <% if @completion_hash != nil%>
                  <% if @completion_hash.length >0 %>
                    <th class="problem-header">Progress</th>
                  <% end %>
                <% end %>
                <th class="problem-header">Tags</th>
            </tr>
          </thead>
          <tbody>
            <% @problems.each do |problem| %>
            <tr>
                <td> <%= link_to "#{problem.title}", problem_path(problem) %> </td>
                <td> <%= problem.difficulty %> </td>
                <% if @completion_hash != nil%>
                  <% if @completion_hash.length >0 %>
                    <td><%= @completion_hash[problem.title] %></td>
                  <% end %>
                <% end %>
                <td> <%= raw problem.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if Problem.tag_counts.size > 0 %>
        <div class="inner-right-div col-lg-2 col-pull-3">
          <table class="table-bordered table table-hover">
            <thead>
              <tr class="background-color-tags">
                <th class="background-color-fonts"><span class="glyphicon glyphicon-tag" style="vertical-align:middle"></span>Tags</th>
              </tr>
            </thead>
            <tbody>
                <% Problem.tag_counts.each do |tag| %>
                  <tr data-link="<%= tag_path(tag.to_s) %>">
                    <td> <%= link_to tag, tag_path(tag.to_s) %> <span class="badge float-right"> <%= tag.taggings_count %> </span> </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    </body>
</html>

