<html>
    <body>
      <div id = "problem-table">
        <div id = "search-form">
          <%= form_tag '/students/login', class: 'form-inline' do %>
            <%= text_field_tag :search, nil, placeholder: 'Search Problems', class: 'form-control' %>
            <%= submit_tag "Submit", class: "btn btn-primary btn-xs" %>
          <% end %>
        </div>
        <table class = "table table-striped">
            <tr>
                <th style="width: 60%">Title</th>
                <th>Difficulty</th>
            </tr>
            <% @problems.each do |problem| %>
            <tr>
                <td> <%= link_to "#{problem.title}", problem_path(problem) %> </td>
                <td> <%= problem.difficulty %> </td>
            </tr>
            <% end %>
        </table>
      </div>
    </body>
</html>

<br><br>

<%= link_to 'Create a problem', new_problem_path %>

