<h1>Create new problem</h1>
<%= flash[:notice] %>
<%= form_for :problem, url: problems_path do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :difficulty %><br>
    <%= p.text_field :difficulty %>
  </p>

  <p>
    <%= p.label :description %><br>
    <%= p.text_area :description %>
  </p>

  <p>
    <%= submit_tag 'Create Problem' %>
  </p>
<% end %>
