<div class="problem-editor">
<h1>Create new problem</h1>
<%= flash[:notice] %>
<%= form_for :problem, url: problems_path do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :tag_list, "Tags (seperated by commas)" %> <br/>
    <%= p.text_field :tag_list %>
  </p>

  <p>
    <%= p.label :difficulty %><br>
    <%= p.select :difficulty, ["Hard", "Medium", "Easy"] %>
  </p>

  <p>
    <%= p.label :description %><br>
    <%= p.text_area :description, :size => "200x10"%>
  </p>

  <p>
    <%= p.label :solution %><br>
    <%= p.text_area :solution, :size => "100x10" %>
  </p>

  <p>
    <%= submit_tag 'Create Problem', class: "btn btn-success" %>
  </p>
<% end %>
</div>
