<div class="container">
  <script>
  $(document).ready(function(){
      $("#solution").hide();
      $("button").click(function(){
        $("#solution").toggle(500);
      });
      <% if student_signed_in? %>
        <% if !@completion_hash.has_key?(@problem.title) %>
          <% @completion_hash[@problem.title] = "In Progress" %>
        <% end %>
      <% end %>
  });
  </script>
  <%= link_to problems_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-menu-left">Back</i>
  <% end %>
  <h2><%= @problem.title %></h2>
  <div id="question-content"
    <p>
      <%= @problem.description %>
    </p>
  </div>

  <% if instructor_signed_in? %>
    <%= link_to 'Edit', edit_problem_path(@problem), class: 'btn btn-warning btn-sm' %>
    <%= button_to 'Delete', problem_path(@problem), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure you want to delete this problem?' } %>
  <% end %>

  <% if student_signed_in? %>
    <%= form_tag complete_problem_path do %>
      <div style="display: inline-block">
        <%= check_box_tag :complete, 1, @completion_hash[@problem.title] == "Complete" %>
        Complete?
      </div>
      <%= hidden_field_tag :problem, @problem.title %>
      <p>
      <p>
      <%= submit_tag 'Save', class: "btn btn-success" %>
    <% end %>
  <% end %>

  <button class="btn btn-info btn-sm">Toggle Solution</button>
  <div style="background:#E3E3E3">
    <p id="solution"><%= @problem.solution %></p>
  </div>
</div>
