<h1>Details for <%= @problem.title %></h1>

<p>
	<strong>Category: </strong>
	<%= @problem.category %>
</p>

<p>
	<strong>Difficulty: </strong>
	<%= @problem.difficulty %>
</p>

<p>
	<strong>Description: </strong>
	<%= @problem.description %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %>
<%= button_to 'Delete', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure you want to delete this problem?' } %>
<%= link_to 'Back to problem list', problems_path %>

