<link rel = "stylesheet" type = "text/css" href = "login.css">

<div id = "wrapper">

<%= flash[:notice] %>

<h1>Login</h1>

<%= form_tag '/instructors/login' do %>
  <div><%= text_field_tag :email, nil, placeholder: 'Email Address' %> </div>
  <div><%= password_field_tag :password, nil, placeholder: 'Password' %> </div>
  <div> <%= check_box_tag(:remember_me) %> Remember Me</div>
  <br></br>
  <div style="width:80%;margin-left:10%;"><%= submit_tag "Submit" %></div>
<% end %>
</div>