<link rel = "stylesheet" type = "text/css" href = "login.css">
<div id = "wrapper">
<h1>Signup</h1>


<%= form_tag '/instructors' do %>
  <p><%= text_field_tag :email, nil, placeholder: 'Email Address' %> </p>
  <p><%= password_field_tag :password, nil, placeholder: 'Password' %> </p>
  <p><%= password_field_tag :password, nil, placeholder: 'Confirm Password' %></p>
  <%= submit_tag "Submit" %>
<% end %>
</div>
